/*Backgroung colors
=============*/
$purple: #87509c;
$green: #17c2a4;
$gray: #e7f1f8;
$white: #fff;
$yellow: #ffdd99;
$pink: #d74680;
$blue: #3c5499;
$dark-blue: #344b8e;

body {
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    font-size: 18px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

/*Header
=============*/

.header {
    background-color: $purple;

    .wrapper {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.header__inner {
    padding-top: 20px;
    display: flex; 
    justify-content: space-between;
    text-align: center;
}

.menu__list {
    display: flex;    
}

.menu__link {
    color: #fff; 
    transition: all .3s;
    &:hover {
        background-color: #763491;
        padding: 0 5px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    } 
}

.menu__item + .menu__item {
    padding-left: 15px;
}

.header__title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;  
}

.button {
    text-align: center;
    margin: 30px 0;
    button {
        background-color: #eb7d4b;
        color: #fff;
        padding: 20px 50px;
        font-weight: bold;
        font-size: 18px;
        border-radius: 5px;
        transition: all .3s;
        &:hover {
            box-shadow: 0 0 50px #d53a78;
            background-color: #eb692d;
        }     
    }
}

/*Services
=============*/

.services {
    background-color: $green;
}

.services__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h2 {
        font-size: 32px;
        font-weight: 600;
        padding-top: 70px;
        &::after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            margin: 20px auto;
            background-color: #14a58c;
        }
    }

    p {
        max-width: 50%;
        line-height: 1.5em;
    }
}


.services__items {
    display: flex;
    padding-top: 30px;
}

.services__item {
    max-width: 25%;
    justify-content: center;

    img {
        align-self: center;
        margin: 0 auto;
        display: block;
    }

    h3 {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding: 30px 0;
        text-transform: uppercase;
    }

    p {
        text-align: center;
        padding-bottom: 70px;
        line-height: 1.2em;
    }
}

.services__item + .services__item {
    padding-left: 25px;
}

/*Team
=============*/

.team {
    background-color: $gray;
    color: #3c4761;
}

.team__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    h2 {
        font-size: 32px;
        font-weight: 600;
        padding-top: 70px;
        &::after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            margin: 20px auto;
            background-color: #c8d9e5;
        }
    }

    p {
        max-width: 50%;
        line-height: 1.5em;
        padding-bottom: 30px;
    }
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3c4761;
    color: transparent;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}

.team__items {
    display: flex;
}

.team__item {
    max-width: 25%;
    justify-content: center;  
    text-align: center;  
}

.team__name {
   font-size: 20px;
   font-weight: 600;
   padding-top: 30px;
}

.team__prof {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: #30bae7;
}

.team__info + .team__info {
    padding-left: 30px;
}

.team__text {
    line-height: 1.3em;
    padding-bottom: 70px;
}





 